strong {
  color: #5bc0de;
  font-style: italic;
}

.container {
  margin-top: 100px;
  justify-content: center;
  text-align: center;
}

.jumbotron {
  border-radius: 50px;
}

.result {
  display: none;
  font-size: 20px;
  justify-content: center;
}

#nameDiv {
  margin-bottom: 30px;
}

#list {
  justify-content: center;
  text-align: justify;
}

#beepBoop {
  display: none;
}
